{{> nav}}
    <div class="flex-container">
        {{#each data}}
        <div class="card" id="saved-article-{{this._id}}">
            <div class="headline-container">
                <a class="headline" href="{{this.url}}" id="url-{{this._id}}">{{this.headline}}</a>
                <div>
                    <button id="delete-article" button-id="{{this._id}}">Delete Article</button>
                    <button id="view-notes" button-id="{{this._id}}">View Notes</button>
                </div>
            </div>
            <p class="summary" id="summary-{{this._id}}">{{this.summary}}</p>
                <div id="notes-{{this._id}}" class="notes-container hide">
                    <ul class="notes" id="view-notes-{{this._id}}"></ul>
                    <form>
                        <input class="note-input" id="input-{{this._id}}" type="text">
                        <button class="note-submit" button-id="{{this._id}}" type="submit">Add Note</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>